<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ew.modules.system.mapper.UserMapper">

    <resultMap id="ResultUserVo" type="com.ew.modules.system.vo.UserVo">
        <result column="remark" property="remark" />
        <result column="username" property="username" />
        <result column="nickname" property="nickname" />
        <result column="dept_name" property="deptName" />
        <result column="role_name" property="roleName" />
        <result column="picture" property="picture" />
        <result column="sex" property="sex" />
        <result column="email" property="email" />
        <result column="phone" property="phone" />
    </resultMap>

    <select id="findUserInfo" resultMap="ResultUserVo">
        select phone,email,sex,picture,nickname,username,remark,
        (SELECT d.title from sys_dept d where d.dept_id = sys_user.dept_id) dept_name,
        (SELECT r.title from sys_role r WHERE r.role_id = sys_user.role_id ) role_name 
        from sys_user ${ew.customSqlSegment}
    </select>
</mapper>